html{
	margin: 0 auto;
	color:white;
	background-color:black;
}
body{
	margin: 0 auto;
}
#About{
	display: inline-block;
	height:100%;
	width:25%;
	float:left;
	background-color:#000000;
	text-align:center;
}
#About:hover{
	background-color:#A0FB71;
}
#about_sub_div{
	position:absolute;
	visibility: hidden;
	height:50%;
	left:2%;
	color:black;
	text-align: left;
	bottom:10px;
}
#About:hover #about_sub_div{
	visibility: visible;
}
#Work{
	display: inline-block;
	height:100%;
	width:25%;
	float:left;
	background-color:#000000;
	text-align:center;
}
#main_div_text{
	position:relative;
	top:170px;
	display:inline-block;
	line-height:normal;
	vertical-align:middle;
}
#Work:hover{
	background-color:#58F8AB;
}
#Blog{
	display: inline-block;
	height:100%;
	width:25%;
	float:left;
	text-align:center;
}
#blog_sub_div{
	/*opacity:0;*/
	position:relative;
	visibility: hidden;
	width:100%;
}
#Blog:hover #blog_sub_div{
	/*opacity:1;*/
	visibility: visible;
	background-color:#12F6E9;
}
#Blog:hover{
	background-color:#12F6E9;
}
#Contact{
	display: inline-block;
	height:100%;
	width:25%;
	background-color:black;
	text-align:center;
}
#Contact:hover{
	background-color:#2F8F75;
}
#blog_link
{
	color:black;
}

#logo
{
	position:absolute;
	background-color:black;
	width:100%;
	top:0px;
	margin:0 auto;
	padding: 0 auto;
	z-index:0;
	text-align:center;
}
#logo_span
{
	color:white;
}