html{
	margin: 0 auto;
	color:black;
	background-color:#F3F5F6;
}
body{
	margin: 0 auto;
}
#About{
	display: inline-block;
	height:100%;
	width:25%;
	float:left;
	text-align:center;
	overflow:auto;
}
#About:hover{
	background-color:#00E4FF;
}
#about_sub_div{
	position:absolute;
	visibility: hidden;
	height:50%;
	left:10%;
	color:black;
	text-align: center;
	bottom:10px;
}
#Project:hover #project_sub_div{
	visibility: visible;
}
#project_sub_div{
	position:relative;
	visibility: hidden;
	height:5%;
	left:25%;
	color:black;
	text-align: center;
	bottom:5px;
}
#Project:hover{
	background-color:#00B3FE;
}
#Project{
	display: inline-block;
	height:100%;
	width:25%;
	float:left;
	text-align:center;
	overflow:auto;
}
#main_div_text{
	position:relative;
	top:170px;
	display:inline-block;
	line-height:normal;
	vertical-align:middle;
}
#About:hover #about_sub_div{
	visibility: visible;
}
#Blog{
	display: inline-block;
	height:100%;
	width:25%;
	float:left;
	text-align:center;
	overflow:auto;
}
#blog_sub_div{
	/*opacity:0;*/
	position:relative;
	visibility: hidden;
	text-align: center;
	height:100%;
	width:200px;
	overflow:auto;
}
#Blog:hover #blog_sub_div{
	visibility:visible;
}
#Blog:hover{
	background-color:#0170FE;
}
#Contact{
	display: inline-block;
	height:100%;
	width:25%;
	text-align:center;
	overflow:auto;
}
#Contact:hover{
	background-color:#0000FE;
}
#blog_link
{
	color:black;
}
#logo
{
	position:absolute;
	/*background-color:#F3F5F6;*/
	width:100%;
	top:0px;
	margin:0 auto;
	padding: 0 auto;
	z-index:1;
	text-align:center;
}
#logo_span
{
	color:black;
}