body, html {
  margin: 0;
  padding: 0;
  color: white;
}
a{
  color: white;
}
p{
  margin: 0;
  padding: 0;
}
html{
  background-color: black;
}
span:hover{
  color: orange;
}
#logo_container{
  position:absolute;
  display:inline-block;
  left:0;
  top:0;
}
#logo_container img{
  height:25%;
  width:25%;
}
#vid-div{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  display:block;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#projects_container{
  display: inline-block;
  float: right;
  width: auto;
  height: auto;
}
#contact_container{
  display: inline-block;
  float: right;
  width: auto;
  height: auto;
}
#blogs_container{
  display: inline-block;
  float: right;
  width: auto;
  height: auto;
}
